NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Local Docker Engine Direct Connections
DATABASE_URL="postgresql://engine_user:engine_local_dev_password@localhost:5433/engine_dev_db?schema=public"
DIRECT_URL="postgresql://engine_user:engine_local_dev_password@localhost:5433/engine_dev_db?schema=public"

AUTH_SECRET="REPLACE_WITH_GENERATED_32_BYTE_HEX_SECRET"
STORAGE_DRIVER="local"
LOCAL_STORAGE_PATH="./public/uploads"
